{% extends "layoutUser.html" %} {% block content %}

<div class="p-4 sm:ml-64">
  <div class="p-4">
    <div class="bg-slate-300 rounded-lg p-4 w-fit max-w-lg mb-4">
      <h1 class="font-extrabold text-xl">Espacios de trabajo</h1>
    </div>
    <div class="grid grid-cols-3 gap-4 mb-4">
      {% for workspace in work_spaces %}
      <div
        class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            {{ workspace["title"] }}
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ workspace["description"] }}
        </p>
        <a
          href="/workspace/{{ workspace['id'] }}"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Ir a espacio de trabajo
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
