{% extends "layoutUser.html" %} {% block content %}

<div class="p-4 sm:ml-64">
  <div class="p-4">
    <!-- <div
      class="flex items-center justify-center h-32 mb-4 rounded bg-blue-400 hover:shadow-lg hover:shadow-gray-500 transition-all ease-in-out cursor-pointer hover:scale-[101%] flex-col"
    >
      <p class="text-xl text-[#ffffff3e] mt-auto">
        <svg
          class="w-8 h-8"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 18 18"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 1v16M1 9h16"
          />
        </svg>
      </p>
      <p class="text-white mb-auto font-bold text-2xl">
        Crear espacio de trabajo
      </p>
    </div> -->
    <h1></h1>
    <div class="grid grid-cols-3 gap-4 mb-4">
      <div
        class="flex items-center justify-center h-24 rounded bg-green-500 hover:shadow-lg hover:shadow-gray-500 transition-all ease-in-out cursor-pointer hover:scale-[101%] flex-col"
      >
        <p class="text-xl text-[#ffffff3e] mt-auto">
          <svg
            class="w-8 h-8"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
        </p>
        <p class="text-white mb-auto font-bold text-sm md:text-xl">Tarea</p>
      </div>
      <div
        class="flex items-center justify-center h-24 rounded bg-yellow-300 hover:shadow-lg hover:shadow-gray-500 transition-all ease-in-out cursor-pointer hover:scale-[101%] flex-col"
      >
        <p class="text-xl text-[#0000003e] mt-auto">
          <svg
            class="w-8 h-8"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
        </p>
        <p class="text-white mb-auto font-bold text-sm md:text-xl">Nota</p>
      </div>
      <div
        class="flex items-center justify-center h-24 rounded bg-[#FA7070] hover:shadow-lg hover:shadow-gray-500 transition-all ease-in-out cursor-pointer hover:scale-[101%] flex-col"
      >
        <p class="text-xl text-[#0000003e] mt-auto">
          <svg
            class="w-8 h-8"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 18"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 1v16M1 9h16"
            />
          </svg>
        </p>
        <p class="text-white mb-auto font-bold text-sm md:text-xl">
          Recordatorio
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
