<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartPlanner</title>
    <link rel="stylesheet" href="../static/css/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="../static/img/profilePics/favicon.png" rel="icon">
  </head>
  <body class="bg-black">
    <nav class="bg-black p-2 flex absolute top-0 w-screen h-16 ">
      <ul class="flex gap-4 w-screen">
        <li class="ml-2">
            <a href="/"><img src="../static/img/smartplanner-high-resolution-logo-white-transparent.png" alt="logo" class="w-20" /></a>
        </li>
        <li class="ml-auto my-auto">
            <a class="text-white text-lg transition-all ease-in-out hover:text-xl hover:font-bold" href="/register">Register</a>
        </li>
        <li class="mr-2 my-auto">
            <a class="text-white text-lg transition-all ease-in-out hover:text-xl hover:font-bold" href="/login">Login</a>
        </li>
      </ul>
    </nav>
    <main class="flex">
        {% block content %} {% endblock %}
    </main>
  </body>
</html>
