{% extends "layoutUser.html" %} {% block content %}
<div class="p-4 sm:ml-64">
  <div class="bg-slate-300 rounded-lg p-4 w-fit my-auto max-w-lg">
    <h1 class="font-extrabold text-xl">
      Gestionar miembros de {{ work_space[0].title }}
    </h1>
  </div>
  <div class="flex flex-col mt-2 p-4 bg-white rounded-lg">
    <h2 class="font-bold text-lg">Lista de miembros</h2>
    <ol class="ml-4">
      {% for member in members %}
      <li class="list-disc">{{ member.user_name }}</li>
      {% endfor %}
      <form action="/workspace/{{work_space[0]['id']}}/members" method="POST">
        <div id="miembrosNew">
          <input type="hidden" value="1" name="contador" id="contador" />
          <li>
            <span
              class="bg-blue-100 cursor-pointer text-blue-800 text-lg font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300"
              onclick="agregarMiembro()"
              >Agregar miembro</span
            >
          </li>
          <div id="miembros"></div>
          <div id="enviar"></div>
        </div>
      </form>
    </ol>
  </div>
</div>
<script>
  let contador = 1;

  function agregarMiembro() {
    // Creamos un nuevo input
    const nuevoInput = document.createElement("input");

    // Actualizando input hidden
    const mem = document.getElementById("contador");
    mem.value = contador;
    // Creamos un nuevo id usando el contador
    console.log(contador);
    const nuevoId = `miembro${contador}`;

    // Establecemos el id del nuevo input
    nuevoInput.id = nuevoId;
    nuevoInput.name = nuevoId;
    nuevoInput.classList.add(
      "bg-gray-50",
      "border",
      "border-gray-300",
      "text-gray-900",
      "text-sm",
      "rounded-lg",
      "focus:ring-blue-500",
      "focus:border-blue-500",
      "block",
      "w-full",
      "p-2.5",
      "dark:bg-gray-600",
      "dark:border-gray-500",
      "dark:placeholder-gray-400",
      "dark:text-white",
      "my-2"
    );
    nuevoInput.placeholder = `Correo de miembro ${contador}`;

    // Creamos un nuevo botón para eliminar el input
    const nuevoBoton = document.createElement("button");
    nuevoBoton.innerHTML = "Eliminar";
    nuevoBoton.type = "button";
    nuevoBoton.onclick = function () {
      const box = document.getElementById("miembros");
      const botonenviar = document.getElementById("btnenviar");
      // Esto elimina el item
      box.removeChild(nuevoDiv);
      // Esto elimina el botón de enviar
      let cantidad = box.querySelectorAll("div").length;
      if (cantidad == 0) {
        botonenviar.parentNode.removeChild(botonenviar);
      }
    };

    const botonenviar = document.getElementById("btnenviar");
    // Añadiendo botón de enviar
    if (contador >= 1 && !botonenviar) {
      const box = document.getElementById("enviar");
      const boton = document.createElement("button");
      boton.innerHTML = "Enviar";
      boton.classList.add(
        "bg-green-100",
        "text-green-800",
        "text-lg",
        "font-medium",
        "me-2",
        "px-2.5",
        "py-0.5",
        "rounded"
      );
      boton.type = "submit";
      boton.id = "btnenviar";
      box.appendChild(boton);
    }
    // Quitando botón de enviar

    // Incrementamos el contador para el próximo input
    contador++;

    // Añadimos el nuevo input al contenedor
    const nuevoDiv = document.createElement("div");
    nuevoDiv.classList.add("flex", "gap-2");
    nuevoBoton.classList.add(
      "bg-red-100",
      "text-red-800",
      "text-sm",
      "h-8",
      "my-auto",
      "font-medium",
      "me-2",
      "px-2.5",
      "py-0.5",
      "rounded"
    );
    nuevoDiv.appendChild(nuevoInput);
    nuevoDiv.appendChild(nuevoBoton);
    document.getElementById("miembros").appendChild(nuevoDiv);
  }
</script>

{% endblock %}
